
body {
    background: #fff;
    height: 100%;
}

/* FONTS */
html { font-size: 62.5%; }
body { font-size: 18px; font-size: 1.8rem; font-family: 'Archivo Narrow', sans-serif; line-height: 30px; line-height: 3rem; }
h1   { font-size: 36px; font-size: 3.6rem; font-family: 'Six Caps', sans-serif; text-transform: uppercase; }
h2   { font-size: 16px; font-size: 1.6rem; font-family: 'Archivo Narrow', sans-serif; text-transform: uppercase; }
h3   { font-size: 24px; font-size: 2.4rem; font-family: 'Six Caps', sans-serif; text-transform: uppercase; }
h4   { font-size: 18px; font-size: 1.8rem; font-family: 'Archivo Narrow', sans-serif; text-transform: uppercase; }
h5   { font-size: 18px; font-size: 1.8rem; font-family: 'Six Caps', sans-serif; text-transform: uppercase; }
h6   { font-size: 14px; font-size: 1.4rem; font-family: 'Archivo Narrow', sans-serif; text-transform: uppercase; }

@media screen and (max-width: 414px) {
  body { font-size: 20px; font-size: 2rem; font-family: 'Archivo Narrow', sans-serif; line-height: 30px; line-height: 3rem; }
  h1   { font-size: 28px; font-size: 2.8rem; font-family: 'Six Caps', sans-serif; text-transform: uppercase; }
  h2   { font-size: 14px; font-size: 1.4rem; font-family: 'Archivo Narrow', sans-serif; text-transform: uppercase;  }
}

.big { font-size: 48px; font-size: 4.8rem; line-height: 60px;}
.xsmall { font-size: 75%; }
/* END FONTS */

/* Links */
a {
    color: inherit;
}
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #e74c3c;
    text-decoration: none;
}

a {
  cursor: pointer !important;
}
/* END Links */

/* Hero */
#hero {
  min-height: 100vh;
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: bottom center;
}

.film-by {
  width: 400px;
  display: block;
  margin: 10px auto;
}

.fb-banner {
  width: 250px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.animated {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
}

@media screen and (max-width: 768px) {
  #hero {
    min-height: 100vh;
    background-image: url("../img/hero-mobile.png");
    background-position: top center;
  }

  .fb-banner {
    height: 50px;
    width: auto;
    top: 0;
    bottom: auto;
  }
  .film-by {
    display: none;
  }
}
/* END Hero*/

/* Footer */
#footer {
    margin-top: 100px;
}
#footer .xsmall {
    font-size: 60%;
}
/* END Footer*/
